# Python Virtual Environment
.depthv2/
venv/
.venv/
env/
.env/

# IDE/editor files
.vscode/
.idea/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Large model weights and checkpoints
model_weights/*.pth
*.pth
*.pt
*.onnx
*.tflite
*.ckpt
*.pkl
*.h5

# OS and temp files
.DS_Store
Thumbs.db
*.log
*.tmp
